{% extends 'base.html' %} {% load static %} {% block head %}

{% endblock %} {% block content %}

<section class="page-header">
  <h1>Community List</h1>
 
</section>

<section class="card-container">
  {% for person in person_list %}
  <div class="card">
    <a href="{% url 'person-detail' person.id %}">
    <div class="card-content">
      <div class="card-img-container">
        <img
          src=""
          alt=""
        />
      </div>
      <h2 class="card-title">{{ person.name }}</h2>
        <p>{{ person.location}}</p>
        <p>{{ person.category }}</p>
      <p><small>{{ person.description }}</small></p>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}